USE [master]
GO
/****** Object:  Database [AssignmentPRJ321]    Script Date: 12/11/2018 14:30:52 ******/
CREATE DATABASE [AssignmentPRJ321]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentPRJ321', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AssignmentPRJ321.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AssignmentPRJ321_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AssignmentPRJ321_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentPRJ321].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentPRJ321]
GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 12/11/2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[ProductID] [varchar](15) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[ProductPrice] [float] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Restaurant]    Script Date: 12/11/2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Restaurant](
	[RestaurantID] [varchar](15) NOT NULL,
	[RestaurantName] [varchar](50) NOT NULL,
	[Address] [varchar](500) NOT NULL,
	[District] [varchar](20) NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Restaurant] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Product] ([ProductID], [ProductName], [ProductPrice], [Description], [Status]) VALUES (N'P021', N'lon coca', 12, N'none', N'available')
INSERT [dbo].[tbl_Product] ([ProductID], [ProductName], [ProductPrice], [Description], [Status]) VALUES (N'P05', N'Laptop Dell', 22, N'None none', N'available')
INSERT [dbo].[tbl_Restaurant] ([RestaurantID], [RestaurantName], [Address], [District], [isDelete]) VALUES (N'R01', N'ABC', N'25 Le Loi', N'Go Vap', 1)
INSERT [dbo].[tbl_Restaurant] ([RestaurantID], [RestaurantName], [Address], [District], [isDelete]) VALUES (N'R02', N'XYZ', N'46 Phan Dinh Phung ', N'Go Vap', 0)
USE [master]
GO
